body,
html {
  height: 100%;
  margin: 0;
  background-image: url("netflix_knap.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#credits {
  background-color: rgb(131, 131, 131);
  color: aliceblue;
  border: none;
  border-radius: 4px;
  padding: 12px 15px;
  font-size: 20px;
  font-weight: 600;
}

#credits:hover {
  background-color: rgb(53, 51, 51);
}

#next_episode {
  background-color: white;
  color: black;
  border: none;
  border-radius: 3px;
  padding: 12px 15px;
  font-size: 20px;
  font-weight: 600;
}

#next_episode:hover {
  background-color: rgb(172, 172, 172);
}

.samlet_knapper {
  display: flex;
  gap: 13px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 4rem;
}
